COHERE_API_KEY=gdfdf
OPENAI_API_KEY=sdsdsd
OPENAI_CHAT_MODEL="gpt-5.5"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"


# PGVector store connection (used by LangChain PGVector for document embeddings)
PG_CONNECTION_STRING=sdsdsdsdlocalhost:5433/credit_rag_db



# RDBMS related - notice this is separate database may be running in different ip address
# the following uses read-only credentials for security reasons.
PG_RDBMS_CONNECTION_STRING=postgresql+psycopg://rag_readonly:rag_readonly_pass@localhost:5433/credit_rdbms_db




